body {
  background-color: #235789;
  overflow-y: hidden;
  overflow-x: hidden;
}

div {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}

input {
  padding: 12px;
  width: 220px;
  border: none;
  outline: none;
}

button {
  padding: 7px;
  width: 220px;
  margin-top: 20px;
  border: none;
  outline: none;
}

@media screen and (min-width: 320px) {
  input {
    padding: 10px;
    width: 200px;
    border: none;
    outline: none;
  }

  button {
    padding: 7px;
    width: 220px;
    margin-top: 20px;
    border: none;
    outline: none;
  }
}
