body {
  background-color: #235789;
  overflow-y: hidden;
  overflow-x: hidden;
}

div {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}

input {
  padding: 15px;
  width: 390px;
  border: none;
  outline: none;
  position: relative;
  top: 130px;
}

button {
  padding: 10px;
  display: grid;
  width: 250px;
  position: relative;
  top: 160px;
  border: none;
  outline: none;
  margin: 0 auto;
}

/* @media screen and (max-width: 320px) {
  input {
    padding: 10px;
    width: 220px;
    border: none;
    outline: none;
  }

  button {
    padding: 7px;
    width: 220px;
    margin-top: 20px;
    border: none;
    outline: none;
  }
} */
